/** @format */

::selection {
	background: var(--active-opacity-7);
	color: $gray-dark;
}

body {
	font-family: $sans;
	font-size: 15px;
	line-height: 1.5;
	color: $gray-dark;
	margin: 1; // separate from iframe, so children can style the borders
}

a,
a:visited {
	color: var(--focused);
}

a:hover,
a:focus,
a:active {
	color: var(--link-highlight);
}
