/** @format */

::selection {
	background: var(--active-opacity-7);
	color: $white;
}

body {
	font-family: $sans;
	font-size: 15px;
	line-height: 1.5;
	color: var(--neutral-dark);
	background: var(--neutral-lighten-30);
	margin: 1; // separate from iframe, so children can style the borders
}

body.is-fullscreen {
	margin: 0;
}

a,
a:visited {
	color: var(--focused);
}

a:hover,
a:focus,
a:active {
	color: var(--selected-tint-20);
}
