/** @format */

::selection {
	background: rgba($blue-light, 0.7);
	color: $gray-dark;
}

body {
	font-family: $sans;
	font-size: 15px;
	line-height: 1.5;
	color: $gray-dark;
}

a,
a:visited {
	color: $blue-wordpress;
}

a:hover,
a:focus,
a:active {
	color: $link-highlight;
}
