// This file only exist to override some style.scss and style-mechat.scss
// directives that are needed for Calypso
//
// We can delete this when Happychat styles are adapted to several hosts
// (Calypso, WordPress, standalone).

.happychat__page {
  background-color: $gray-light;
  left: 0;
  margin-top: 0;
}
