/** @format */

:root {
	--selected: $green-jetpack;
	--selected-darken-5: darken($green-jetpack, 5%);
	--selected-darken-8: darken($green-jetpack, 8%);
	--selected-lighten-5: lighten($green-jetpack, 5%);
	--selected-lighten-10: lighten($green-jetpack, 10%);
}
