/** @format */

@import '../shared/colors';
@import '../shared/functions/tint-and-shade';

:root {
	--selected: $purple-woo;
	--selected-darken-5: darken($purple-woo, 5%);
	--selected-darken-8: darken($purple-woo, 8%);
	--selected-lighten-5: lighten($purple-woo, 5%);
	--selected-lighten-10: lighten($purple-woo, 10%);
	--active: $purple-woo;
	--active-opacity-7: rgba($purple-woo, 0.7);
	--focused: $purple-woo;
	--link-highlight: tint($purple-woo, 20%);
}
