/** @format */

.happychat__conversation {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	position: relative;

	&::before {
		content: ' ';
		flex: 1 1 auto;
	}

	&::after {
		content: ' ';
		flex: 1 0 46px;
	}
}

.happychat__welcome {
	flex: 1 auto;
	padding: 16px;
	color: var(--neutral-dark);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	p {
		margin: 0;
		padding: 0;
	}
}

.happychat__message-text {
	font-size: 14px;
	flex: 1;
	padding: 8px 12px;
	border-radius: 8px 8px 8px 0;
	color: var(--neutral-dark);
	background: $white;
	position: relative;

	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;

	white-space: pre-wrap;

	p {
		margin: 8px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: -8px;

		// draw a triangle
		width: 0;
		height: 0;
		border-bottom: 8px solid $white;
		border-left: 8px solid transparent;
	}

	.is-user-message & {
		color: $white;
		background: var(--selected);
		border-radius: 8px 8px 0 8px;

		&:after {
			left: auto;
			right: -8px;

			// draw a triangle
			width: 0;
			height: 0;
			border-bottom: 8px solid var(--selected);
			border-left: none;
			border-right: 8px solid transparent;
		}
	}
}

.happychat__timeline-message {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row-reverse;
	padding: 0 10px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: auto;
	margin-left: 0;

	a {
		color: var(--selected);
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

	&.is-user-message {
		flex-direction: row;
		margin-left: auto;
		margin-right: 0;

		a {
			color: $white;
		}
	}
}

.happychat__unread-messages-button-container {
	position: relative;
	height: 0;
	margin: 0 30px 0 20px;
}

.happychat__unread-messages-button {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX( -50% );
	border-radius: 8px;
	padding-left: 2em;
	padding-right: 2em;
	background: #fffabf !important;
	border-color: #f1e44f !important;
	color: #887f20 !important;
	> .gridicon {
		margin-left: 0.5em;
	}	
}

.timeline__edited-flag {
	color: $gray;
	font-size: 0.8em;
	vertical-align: text-bottom;
	&:before {
		content: '  ';
	}
}