{
	"presets": [ [ "env", { "modules": false } ] ],
	"plugins": [
		"external-helpers",
		"syntax-jsx",
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-react-display-name",
		"transform-react-jsx",
	],
}
