/** @format */
.title__wrapper {
	cursor: default;
	padding: 0;
	background: $blue-medium;
	border-bottom: 1px solid darken( $blue-medium, 5% );
	color: $white;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	line-height: 32px;
	line-height: 46px;
}

.title__active-toolbar {
	display: flex;
	flex: 1 1 auto;

	> :first-child {
		flex: 1;
		margin-left: 12px;
	}

	> div {
		padding: 11px;
		cursor: pointer;
	}

	> div:hover {
		background: var(--selected-lighten-5);
	}

	svg {
		display: block;
	}
}
