/** @format */

:root {
	--selected: #96588a;
	--selected-darken-5: darken(#96588a, 5%);
	--selected-darken-8: darken(#96588a, 8%);
	--selected-lighten-5: lighten(#96588a, 5%);
	--selected-lighten-10: lighten(#96588a, 10%);
	--active: #96588a;
	--active-opacity-7: rgba(150, 88, 138, 0.7);
	--active-lighten-10: lighten(#96588a, 10%);
	--focused: #96588a;
}
