.chat-button {
	position: absolute;
	bottom: 96px;
	right: 18px;

	line-height: 0;
	padding: 1px;
	border-radius: 100%;
	background: $blue-wordpress;
	box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.15 );
	border: 1px solid darken( $blue-wordpress, 5 );

	.gridicon {
		fill: $white;
		margin: 2px;
		top: 0;
		height: 24px;
		width: 24px;
	}

	&.is-active {
		background: $blue-medium;
		border-color: darken( $blue-medium, 5 )
	}
}

.chat-button.has-unread {
	background-color: $orange-jazzy;
	border-color: $orange-jazzy;
}