/** @format */

.contact-form {
	.form-textarea {
		// Fix the width of our text area so that it can only be resized vertically
		resize: vertical;

		margin-bottom: 24px;
		@include breakpoint( '>960px' ) {
			margin-bottom: 32px;
		}
	}

	.form-button {
		margin-top: 11px;
	}

	.contact-form__item-list {
		margin-bottom: 24px;

		@include breakpoint( '>960px' ) {
			margin-bottom: 32px;
		}
	}
}

.contact-form__header-title {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}
